
<div class="container">

  <h2><%= @director %>'s movies</h2>

  <%= render partial: "movies/movies", locals: {movies: @director.movies} %>

  <% if can? :manage, Director %>
    <%= link_to 'Edit', edit_director_path(@director), class: "btn btn-primary" %>
    <%= link_to 'List of Directors', directors_path, class: "btn btn-secondary" %>
  <% end %>
</div>
