# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2ccdbc12e24773cc63456f8527dc58fa7068d0a3818211c203753d1dc5a1ba764320dc78cd2cc12a378189ada6c51a1ef285780fa84f75453c984fd3713a8e37

test:
  secret_key_base: ac2b0e0fa6169309276d6ea8e81698f9884d76af7a79f284912921609af01a205fca6180db44e6091c1b4933512547c4d82f95385a58c0945a3b6addf3680eaf

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
